body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #183A1D;
}

#board {
    height: 540px;
    width: 630px;
    background-color: #A7CD78;
    border: 10px solid #A7CD78;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#winner{
    color:#B5CB99;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;

    /* Circle */
    background-color: #fff;
    border-radius: 50%;
    border: 5px solid #A7CD78;
}

.red-piece {
    background-color: red;
}

.black-piece {
    background-color: black;
}

.neonText{
    color:#fff;
    text-shadow: 0 0 10px #4A772F,
    0 0 20px #4A772F,
    0 0 40px #fff,
    0 0 80px #fff,
    0 0 120px rgb(242, 35, 69);
    font-size: xx-large;
}

